:root {
    --page-min-height: 90vh;
    --dark-font-color: #767777;
    --grey-background: #f3f3f3;
    --main-font: "Roboto", sans-serif;
}

.todolist-container {
    text-align: center;
    min-height: var(--page-min-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-background);
    color: var(--dark-font-color);
}

.App {
    align-items: "center";
    justify-content: "center";
}